# Xcode
*.xcworkspace
*.xcuserstate
*.xcuserdata
DerivedData/
build/
*.moved-aside
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Archives
*.xcarchive

# User-specific
*.DS_Store
*.swp
.idea/
.vscode/

# Environment
.env

